<html data-namespace-typo3-fluid="true" 
    xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" 
    xmlns:project="EW72\Project\ViewHelpers">

<f:layout name="Default" />
<f:section name="Configuration">
    <flux:form id="ContactPage" label="ContactPage" description="contact_page">
        <flux:field.select name="type" label="type" items="Allgemein, Allgemein, Allgemein" />
        <flux:field.input name="Name" label="Name" maxCharacters="255" />
        <flux:field.input name="E-Mail" label="E-Mail" maxCharacters="255" />
        <flux:field.input name="Betreff" label="Betreff" maxCharacters="255" />
        <f:form.textarea name="myTextArea" value="This is shown inside the textarea" />
    </flux:form>
</f:section>


<f:section name="Preview">
    <h1>Kontakt :</h1>
    title : {headtitle} <br>
    Type : {type} <br>
    Name : {Name}<br>
    E-Mail : {E-Mail}<br>
    Betreff : {Betreff}<br>
</f:section>

<f:section name="Main">
  <div class="row">
    <div class="col-md-6">
        <div class="form-contact">
            <h1>Kontakt :</h1>
        <select name="pets" id="pet-select">
            <option value="">Allgemain</option>
            <option value="dog">Allgemain</option>
            <option value="cat">Allgemain</option>
        </select></br>
        <input type="text" id="Name" name="Name" placeholder="Name"></br>
        <input type="text" id="Mail" name="Mail" placeholder="E-Mail"></br>
        <input type="text" id="Betreff" name="Betreff" placeholder="Betreff"></br>
        <textarea id="area_txt" name="Text" srows="15" cols="33" placeholder="Text">
        </div>
    </div>
    <div class="col-md-6">
bo,njout
    </div>
</div>
</f:section>

</html>