<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    
    xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
>
    <f:spaceless>
        <f:comment>
            <a id="c{data.uid}" class="mod-anchor"></a>

            <f:if condition="{data._LOCALIZED_UID}">
                <a id="c{data._LOCALIZED_UID}" class="mod-anchor"></a>
            </f:if>

            <f:if condition="{data.l10n_source}">
                <a id="c{data.l10n_source}" class="mod-anchor"></a>
            </f:if>
        </f:comment>

        <f:render section="Before" optional="true">
            <f:render partial="DropIn/Before/All" arguments="{_all}" />
        </f:render>

        <f:comment>
            <f:render section="Header" optional="true">
                <f:render partial="Header/All" arguments="{_all}" />
            </f:render>
        </f:comment>
    </f:spaceless>

    <div id="c{data.uid}">
        <f:render section="Main" optional="true" />
    </div>

    <f:spaceless>
        <f:comment>
            <f:render section="Footer" optional="true">
                <f:render partial="Footer/All" arguments="{_all}" />
            </f:render>
        </f:comment>

        <f:render section="After" optional="true">
            <f:render partial="DropIn/After/All" arguments="{_all}" />
        </f:render>
    </f:spaceless>
</html>
