/****************
 *  Base Colors *
 ****************/

/*******************
 *  Neutral Colors *
 *******************/

/*********************
 *  Gradients Colors *
 *********************/
$color-contact : #41646E;
$grey-color: #5F696B;
$white-color: #FFFFFF;
$input-placeholder-color: #495057;
$input-border-color: #ced4da;
$btn-color: #006982;
$black-color: #000;
$gray0: #F6F8FF;
$primary: #636983;
$gray1: #fbfbfb;
$blue-dark: #004B76;
$grey-light: #E9EAEC;