.mod-stage {
    > .m-image {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        > .m-text {
            position: relative;
            width: 66%;
            margin-top: -15%;
            background: white;
            height: 49%;
            margin-left: 18%;

            padding: 10px;
            border-top-right-radius: 325px 260px;

            > .m-title {
                font-family: $BundesSansWeb;
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 46px;
                display: flex;
                align-items: center;
                color: #004b76;
                padding: 27px;
            }

            > .m-description-one {
                font-family: $BundesSansWeb;
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 28px;
                align-items: center;
                color: #004b76;
                text-align: justify;
                width: 85%;
                padding: 27px;
                margin-top: -58px;
            }

            > .m-text-two {
                font-family: $BundesSansWeb;
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 28px;
                align-items: center;
                color: #004b76;
                text-align: justify;
                width: 85%;
                padding: 27px;
                margin-top: -20px;
            }
            > .m-link-stage {
                display: flex;

                img {
                    width: 13px;

                    height: 25px;
                    margin-left: 26px;
                }

                > .m-link {
                    font-family: $BundesSansWeb;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    margin-left: 28px;
                    margin-top: -4px;

                    a {
                        text-decoration: none;
                        color: #004b76;
                    }
                }
            }
        }
    }
}
@media (max-width: 63.9375em) {
    .mod-stage {
        > .m-image {
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
    
            > .m-text {
                position: relative;
                width: 90%;
                margin-top: -15%;
                background: #fff;
                height: auto;
                margin-left: 60px;
                padding: 10px;
                border-top-right-radius: 325px 260px;
    
                > .m-title {
                    font-family: $BundesSansWeb;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 46px;
                    display: flex;
                    align-items: center;
                    color: #004b76;
                    padding: 27px;
                }
    
                > .m-description-one {
                    font-family: $BundesSansWeb;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 36px;
                    align-items: center;
                    color: #004b76;
                    text-align: justify;
                    width: 85%;
                    padding: 27px;
                    margin-top: -58px;
                }
    
                > .m-text-two {
                    font-family: $BundesSansWeb;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 36px;
                    align-items: center;
                    color: #004b76;
                    text-align: justify;
                    width: 85%;
                    padding: 27px;
                    margin-top: -20px;
                }
                > .m-link-stage {
                    display: flex;
    
                    img {
                        width: 13px;
    
                        height: 25px;
                        margin-left: 26px;
                    }
    
                    > .m-link {
                        font-family: $BundesSansWeb;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 17px;
                        line-height: 24px;
                        display: flex;
                        align-items: center;
                        margin-left: 28px;
                        margin-top: -4px;
    
                        a {
                            text-decoration: none;
                            color: #004b76;
                            font-size: 30px;
                            line-height: 36px;
                        }
                    }
                }
            }
        }
    }
}
